body {
  background-color: #e6fff9;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3399ff;
  padding: 20px 0;
}

.header h1 {
  color: #ffff66;
  font-size: 36px;
  margin: 0;
}

.biologia-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.conteudo {
    background-color: var(--branco);
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    min-width: 280px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.conteudo:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.2);
}

.conteudo h2 {
    display: flex;
    justify-content: center;
    color: var(--verde);
    margin-bottom: 15px;
    font-size: 2.8rem;
}

.conteudo p {
    line-height: 1.6;
    color: var(--preto);
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.conteudo ul {
    list-style-type: none;
    font-size: 1.8rem;
}

.conteudo ul li {
    padding: 10px 0;
    border-bottom: 1px solid var(--azul-claro);
    transition: transform 0.5s ease;
    color: var(--preto);
}

.conteudo ul li:hover {
    transform: translateX(10px);
    color: var(--verde);
}